# --- DATABASE CONFIG ---
DB_HOST=your-cloud-postgres-host.com
DB_PORT=5432
DB_USERNAME=your_username
DB_PASSWORD=your_password
DB_DATABASE=your_db
DB_SSL=true

# ===== JWT
JWT_ACCESS_SECRET=your_access_secret_here
JWT_ACCESS_TTL_MINS=15            # 15 mins
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_REFRESH_TTL_DAYS=7      # 7 days

# --- SERVER CONFIG ---
PORT=3000
NODE_ENV=development

# --- AUTH/SECURITY (Example) ---
ALLOWED_ORIGINS=your whitelisted urls